# dependencies
/node_modules
/.pnp
.pnp.js

# next
/.next/
/out/

# misc
.DS_Store
*.pem
.env
.env*.local
.vercel

# prisma
/prisma/migrations/**/migration_lock.toml
*.db
*.db-journal

# typescript
*.tsbuildinfo
next-env.d.ts
